* {
    box-sizing: border-box;
}

:root {
    --main--color: #ff9800;
}

body {       
    font-family: "Patrick Hand", cursive;
}


/* start setting box */

.setting-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: white;
    border: 1px solid black;
    width: 200px;
    z-index: 1000;
    min-height: 100%;
    transition: all 0.5s;
}

.open {
    left: 0px;
}

.setting-box .icon {
    position: absolute;
    font-size: 15px;
    background-color: var(--main--color);
    height: 35px;
    width: 60px;
    left: 200px;
    top: 150px;
    cursor: pointer;
}

.setting-box .options-box {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: #eee;
}

.setting-box .options-box h4 {
    position: relative;
    top: 22px;
    right: 20px;
    color: #666;
}

.setting-box .options-box .colors-list {
    list-style: none;
    padding: 10px 10px;
}

.setting-box .options-box .colors-list li {
    height: 30px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}

.setting-box .options-box .colors-list li.active {
    opacity: 1;
    border: 1px solid #fff;
}

.setting-box .options-box .colors-list li:first-child {
    background-color: #ff9800;
}

.setting-box .options-box .colors-list li:nth-child(2) {
    background-color: #e91e63;
}

.setting-box .options-box .colors-list li:nth-child(3) {
    background-color: #009688;
}

.setting-box .options-box .colors-list li:nth-child(4) {
    background-color: #03a9f4;
}

.setting-box .options-box .colors-list li:nth-child(5) {
    background-color: #4caf50;
}

.setting-box .Random-background {
    background-color: #eee;
    padding: 10px 10px;
}

.setting-box .Random-background .yes,
.setting-box .Random-background .no {
    background-color: #009688;
    color: white;
    width: 50px;
    display: inline-block;
    text-align: center;
    opacity: 0.6;
    position: relative;
    left: 25px;
    bottom: 6px;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.setting-box .Random-background span.active {
    opacity: 1;
}

.setting-box .reset-option {
    width: 170px;
    padding: 7px 3px;
    margin: 20px 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    /* width: 1170px; */
  
    margin: auto;
}


/* end setting box */


/* start landing page */

.landing-page {
    min-height: 100vh;
    background-image: url("../img/desing1.jpeg");
    background-size: cover;
    position: relative;
}

.landing-page .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header-area {
    position: relative;
    z-index: 2;
    color: white;
    padding: 10px;
}

.header-area .logo {
    padding: 10px;
    font-size: 25px;
}

.header-area .logo span {
    color: var(--main--color);
}

.header-area .links {
    position: relative;
    bottom: 53px;
    font-size: 20px;
}

.header-area .links-container {
    width: 100%; 
    text-align: right;}

.header-area .links li {
    display: inline-block;
    margin-left: 5px;
}

.header-area .links li a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main--color);
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
}


.intro h2 span {
    color: var(--main--color);
}

.intro p {
    line-height: 1.5;
    position: relative; 
    bottom: 10px;

}
@media (max-width:500px) {

    .intro h2 {
        width: 290px;
    }
}
@media (max-width:991px) {

    .header-area .links li{
        display:block;
    }

}

/* end landing page */


/* start about us  */

.about-us {
    padding: 10px;
    background-color: #eeeeee;
    margin: 30px 30px;
} 

.about-us .info-box h2 {
    color: var(--main--color);
    text-align: center;
}

.about-us .info-box p {
    line-height: 1.5;
    color: #555;
    text-align: center;
}

.about-us .image-box {
    text-align: center;
}
.about-us .info-box img {
    align-items: center;
    width: 200px;
    height: 150px;
    border-radius: 90%;
    border: 2px solid yellow;
}






/* end about us  */


/* start skills  */

.skills {
    padding: 40px 40px;
}

.skills h2 {
    text-align: center;
    color: var(--main--color);
    
}

.skills .skills-box {
    width: 100%;
    padding: 12px;
    margin: 8px;
}

.skills .skills-box .skills-name {
    line-height: 1.5;
    font-family: bold;
}

.skills .skills-pro {
    height: 20px;
    background-color: #c1c1c1;
    width: 100%;
    display: flex;
}

.skills .skills-pro span {
    background-color: var(--main--color);
    transition: all 0.8s;
}


/* end skills  */

/* start mybutton scroll show */

.my-button {
    position: fixed;
    right: 0;
    top: 75%;
    background-color: var(--main--color);
    padding: 7px 5px;
    border: 1px solid var(--main--color);
    z-index: 10;
    cursor: pointer;
    display: none;
    padding: 10px 10px;
}
/* end mybutton scroll show */

/* start ger imaged */

.ger {
    padding-bottom: 50px;
    text-align: center;
}

.ger h2 {
    color: var(--main--color);
    text-align: center;
}

.ger .images-box img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
}

.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
}

.popup-box h3 {
    text-align: center;
    color: var(--main--color);
}

.closebutton {
    position: absolute;
    top: -15px;
    right: -15px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: var(--main--color);
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
}

.popup-box img {
    max-width: 90%;
}

/* end ger imaged */


/* start timline */

.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}

.timeline .timeline-content:before {
    content: " ";
    width: 3px;
    min-height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    top: 40px;
}

.timeline .timeline-content .year {
    background-color: var(--main--color);
    width: 50px;
    text-align: center;
    margin: 20px auto;
    padding: 3px 5px;
    position: relative;
    bottom: 20px;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: 46%;
    position: relative;
}

.timeline .timeline-content .left {
    float: left;
}

.timeline .timeline-content .right {
    float: right;
}

.timeline .timeline-content .content {
    background-color: #fff;
    padding: 20px;
}

.timeline .timeline-content .content h3 {
    color: var(--main--color);
}

.timeline .timeline-content .content p {
    color: #666;
    line-height: 1.6;
}


/* end timline */


/* start feat */

.feat {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    margin-bottom: 25px;
}

.feat h2 {
    color: var(--main--color);
    text-align: center;
}

.feat .feat-box {
    text-align: center;
    float: left;
    width: calc(100% / 3);
}

@media (max-width:770px) {

    .feat .feat-box {
        width: calc(100% /2);
    }
} 

.feat .feat-box h4 {
    color: var(--main--color);
    text-align: center;
    position: relative;
}

.feat .feat-box h4::after{
    content: "";
    width: 40px;
    height: 3px;
    background-color: var(--main--color);
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -20px;
}

.feat .feat-box p {
    color: #333;
    text-align: center;
    width:90%;
    margin: 30px auto;
}

.feat .feat-box img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 2px solid yellow;
}


/* end feat */


/* stert test imonilals */

.testimon {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    position: relative;
    
}
.testimon::after {
    content: "";
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--main--color);
    position: absolute;
}

.testimon::before {
    content: "";
    width: 60%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #333;
    position: absolute;
}

.testimon h2 {
    z-index: 2;
    font-size: 30px;
    position: relative;
    color: white;
}

@media (max-width:600px) {

    .testimon h2 {
        text-align: center;
    }
} 

.testimon .test-box {

    z-index: 2;
    border-radius: 3px;
    position: relative;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

@media (max-width:600px) {
    .testimon .test-box {
        padding: 5px;
        width: 80%;
        margin: 5px auto;
    }
}

.testimon .test-box p {
    color: #777;
    line-height: 1.4;
    margin: 0 0 15px;
    text-align: center;
}

.testimon .test-box h4 {
    font-family: bold;
    color: #444;
}

.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 99;
}

.nav-bullets .bullets {
    width: 20px;
    border: 3px solid var(--main--color);
    cursor: pointer;
    border-radius: 50%;
    margin: 10px auto;
    height: 20px;
    position: relative;
}

.nav-bullets .bullets:hover .tool {
    display: block;
}

.nav-bullets .bullets .tool {
    position: absolute;
    background-color: var(--main--color);
    color: white;
    right: 25px;
    padding: 7px 2px;
    width: 90px;
    text-align: center;
    top: -12px;
    cursor: default;
    pointer-events: none;
    display: none ;}

/* start contact us */

.contact {
    height: 500px;
    background-image: url(../img/map1.jpg);
    padding-top: 70px;
    background-size: cover;}

.contact h2 {
    position: relative;
    bottom: 40px;
    left: 10px;
}

.contact .left {
    float: left;
    width: 30%;
    position: relative;
    bottom:50px;  }

.contact .right {
    width: 30%;
    position: relative;
    left: 10px;
    bottom: 20px;
    height: 10px;
}

.contact .left input {
    padding: 5px;
    margin: 10px; }


.contact .right textarea {
    padding: 10px 15px;
    text-align: center;
 }

.contact .left input:focus,
.contact .right textarea:focus {

    outline: 1px solid var(--main--color);
}

.contact .right textarea:focus::-webkit-input-placeholder,
.contact .left input:focus::-webkit-input-placeholder {

    opacity: 0;
    transition: .3s;
}

.contact .right input {
    width: 200px;
    background-color: var(--main--color);
    color: white;
    cursor: pointer;
    border-color: transparent;
    margin-left: 15px;
 }

 .contact .all-this {
    margin-left: 100px;
 }

/* end contact us */

/* start footer */
.footer {
    background-color: #333;
    color: #ffff;
    padding: 15px;
    text-align: center;
    font-family: system-ui;
}

/* end footer */

/* start grid system */

@media (min-width:576px) {  /* small devices => phones */
    .container {
        max-width: 550px;
    }
}

@media (min-width:768px) {  /* Medium devices => Tablets */
    .container {
        max-width: 720px;
    }
}

 @media (min-width:992px) { /* ps desktop devices => ps */
    .container {
        max-width: 960px;
     
} 
 }
         
 @media (min-width:1200px) { /* larg Screen => cinemina or this */
    .container {
        max-width: 1150px;
     
} 
} 