
* {
   box-sizing: border-box;
}


body {
   font-family: Arial, Helvetica, sans-serif
}

.parent {
   width: 600px;
   margin: 50px auto;
   background-color: #eee;
   padding: 20px;
}

.parent input {
   border: none;
   width: 100%;
   padding: 20px;
   font-size: 20px;
   margin-bottom:20px;
}

.parent input:focus {
   outline: 1px solid yellow;
}

.parent .buttons {
   display: flex;
   justify-content: space-evenly;
}

.parent .buttons span {
   background-color: #009688;
   padding: 5px 15px;
   color: #fff;
   cursor: pointer;
   text-align: center;
   border-radius: 4px;
}

.parent .result {
   background-color: #fff;
   margin-top: 15px;
   padding: 20px ;
   border: 3px dashed #eee;
   text-align: center;
   font-size: 18px;
}

.parent .result span span {
   font-weight: bold;
   color: #009688;
   font-size: 22px;
}

.parent .result .key {
   display: block;
}