

* {
   box-sizing: border-box;
}

body {
   font-family: tahoma, Arial;
}

.repos-container {
   width: 700px;
   margin: 10px auto;
}

.repos-container .get-repos {
   display: flex;
   padding: 20px;
   background-color: #eeeeee;
}

.repos-container .get-repos input {
   width: 100%;
   height: 50px;
   font-size: 19px;
   border: none;
   padding-left: 20px;
}

.repos-container .get-repos input:focus {
   outline: 1px solid #f44336;
}

.repos-container .get-repos .get-button {
   height: 50px;
   width:170px ;
   background-color:#f44336 ;
   margin-left: 10px;
   cursor: pointer;
   color: white;
   font-size: 18px;
   line-height: 50px;
   text-align: center;
}

.repos-container .data-show {
   padding: 20px;
   margin-top: 10px;
   font-size: 16px;
   background-color: #e0e0e0;
}