

body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.header {
   background-color: #eee;
   color: black;
   letter-spacing: 3px;
   height: 20%;
   padding: 20px ;
   text-align: center;
}

.card {
   width: 22%;
   height: 250px;
   padding: 20px 10px;
   background-color: #eee;
   margin: 10px 5px;
   float: left;
   text-align: center;

}

.card img {

   height: 100px;
   width:100px;
   border-radius: 50%;
   border: 2px solid yellow;
}

.card img:hover {
   transform: scale(1.2);
   transition: all .5s ease-in-out;
   cursor: pointer;
}

.card p {
   color: #555;
   
}


@media (min-width:200px) {

   .card {
      width: 90%;
      height: 80%;
   }

}

@media (min-width:350px) {

   .card {
      width: 40%;
      height: 80%;
   }

}

@media (min-width:465px) {

   .card {
      width: 26.8%;
      
   }

}
@media (min-width:700px) {

   .card {
      width: 20%;
      
   }

}
@media (min-width:750px) {

   .card {
      width: 20.9%;
      
   }

}


@media (min-width:955px) {

   .card {
      width: 16.8%;
      
   }

}

